#settings {
    #settings-column {
        background-color: white;
        border-radius: 3px;
        // border: 1px solid hsl(0, 0%, 86%);
        box-shadow: 0 0 3px hsl(0, 0%, 86%);
    }
    .image.is-128x128 {
        margin: 0 auto 20px;
    }
}