@charset "utf-8";

$navbar-height: 4rem;
$body-font-size: 1.2rem;
$navbar-item-img-max-height: 100%;
$input-shadow: none;
$body-background-color: #f9f9f9;

// Import only what you need from Bulma
@import '../../node_modules/bulma/'
// @import '../node_modules/bulma/sass/utilities/_all.sass';
// @import '../node_modules/bulma/sass/base/_all.sass';
// @import '../node_modules/bulma/sass/elements/button.sass';
// @import '../node_modules/bulma/sass/elements/container.sass';
// @import '../node_modules/bulma/sass/elements/form.sass';
// @import '../node_modules/bulma/sass/elements/title.sass';
// @import '../node_modules/bulma/sass/components/navbar.sass';
// @import '../node_modules/bulma/sass/layout/hero.sass';
// @import '../node_modules/bulma/sass/layout/section.sass';